* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
}

/* Header Style */

.header_bg {
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./Images/BannerImage.png');
    z-index: 2;

}

.header_bg::before {
    content: " ";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    background-image: linear-gradient(hsla(240, 100%, 1%, 0.874), hsla(0, 0%, 100%, 0.1));
    z-index: -1;
}

.header_title {
    text-align: center;
    color: #fff;
}

.header_title h2 {
    color: #d4d4d4;
    font-size: 32px;
}

.header_title h1 {
    padding-top: 20px;
    font-size: 4rem;
}

/* Offer Section */

.offer_container {
    padding: 0px 15px;
    margin-top: 100px;
    color: #FF0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.offer_container h2 {
    font-size: 88px;
}

.offer_container h3 {
    color: #070211;
    font-size: 60px;
}

.offer_container img {
    width: 70%;
}

/* Welcome Midnight  */
.welcome_container {
    margin-bottom: 100px;
    color: #fff;
    margin-top: 50px;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./Images/Vectorrr.png');
    z-index: 2;

}

.welcome_container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    background-image: linear-gradient(90deg, hsla(0, 0%, 2%, 0.9), hsla(0, 0%, 100%, 0.1));
    z-index: -1;
}




.welcome_content h2 {
    font-size: 60px;
    margin-bottom: 10px;
}

.welcome_content p {
    font-size: 20px;
    margin-bottom: 10px;
}

.welcome_content a {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
}

/* time_container */

.time_container {
    text-align: center;
    border-radius: 10px;
    padding: 100px 0px;
    font-size: 32px;
    background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0));
}


.time_container span {
    color: #ff0000;


}

.time_container h4 {
    padding-top: 10px;
}






















@media only screen and (max-width: 600px) {

    /* Mobaile Responsive */

    .header_bg {
        padding: 50px 0px;
    }

    .header_title h2 {
        color: #d4d4d4;
        font-size: 20px;
    }

    .header_title h1 {
        padding-top: 20px;
        font-size: 2rem;
    }

    /* Offer */
    .offer_container {
        margin-top: 20px;
    }

    .offer_container img {
        width: 100%;
    }

    .offer_container h2 {

        font-size: 48px;
    }

    .offer_container h3 {
        color: #070211;
        font-size: 40px;
    }

    .welcome_container {
        padding: 50px 10px;
    }

}